*{
margin: 0;
padding: 0;
text-align:center;
color:rgb(103, 45, 128);
background-color:black;
text-decoration-line: none;
}
img:hover{
opacity:0.5;  
}
img{
width: 100%;
height: auto;
border-radius: 3px;
border-color: purple;
border-style: groove;
}
#menuButton, .hiddenMenu{
display: none;
}
.menu{
display: block;
}
#menuButton:checked+.hiddenMenu {
display: flex;
flex-direction: column;
}
@media screen and (min-width: 0px) {
    *{
    color:rgb(103, 45, 128);
        background: black;
    }
}
@media screen and (min-width: 600px){
    img{
        width: 600px;
        height: 600px;
    }
}